{{#mol-banner-info}}
  <div class="header-banner__main__content__info">
    <h2>{{{title}}}</h2>
    <p>{{{description}}}</p>
    <div class="header-banner__main__content__info__button">
      <a href="#">{{{button}}}</a>
    </div>
  </div>
{{/mol-banner-info}}
