{{#mol-efficiency-block-object}}
  <div class="efficiency-block__main__objects">
    {{#object}}
      <div class="efficiency-block__main__objects__content">
        {{#alt}}
          <div class="efficiency-block__main__objects__content__image">
            <img src="{{{icon}}}" alt="{{{alt}}}">
          </div>
        {{/alt}}
        {{#inf}}
          <div class="efficiency-block__main__objects__content__info">
            <span>{{{inf}}}</span>
            <span>{{{inf2}}}</span>
          </div>
        {{/inf}}
      </div>
    {{/object}}
  </div>
{{/mol-efficiency-block-object}}
