{{#mol-efficiency-block-content}}
  {{#title}}
    <div class="efficiency-block__main__title">
      <h2>{{{title}}}</h2>
    </div>
  {{/title}}
  <div class="efficiency-block__main__description">
    <p>{{{description}}}
    </p>
  </div>
{{/mol-efficiency-block-content}}
