{{#mol-global-info-content}}
  {{#global-blocks}}
    {{#title}}
      <div class="global-info__main__content">
        <h2>{{{title}}}</h2>
        <p>{{{description}}}</p>
      </div>
    {{/title}}
  {{/global-blocks}}
{{/mol-global-info-content}}
