{{#org-efficiency-block}}
  <section class="efficiency-block">
    <div class="container">
      <div class="efficiency-block__main">
        {{> ../molecules/efficiency-block-content}}
        {{> ../molecules/efficiency-block-object}}
      </div>
    </div>
  </section>
{{/org-efficiency-block}}
