{{#org-global-info}}
<section class="global-info">
  <div class="container">
    <div class="global-info__main">
      {{> ../molecules/global-info-content}}
    </div>
  </div>
</section>
{{/org-global-info}}