{{#org-header-banner}}
  <section class="header-banner">
    <div class="container">
      <div class="header-banner__main">
        <div class="header-banner__main__content">
          {{> ../molecules/banner-image}}
          {{> ../molecules/banner-info}}
        </div>
      </div>
    </div>
  </section>
{{/org-header-banner}}
